@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* Importa a fonte Quicksand do Google Fonts */

* {
    box-sizing: border-box;
    /* Garante que padding e border não aumentem o tamanho total do elemento */
}

:root {
    --bg-color: #202124;
    /* Cor de fundo (cinza escuro) */
    --primary-color: #e8eaed;
    --secondary-color: #e8eaed;
    /* Cor primária/secundária (cinza claro) */
    --tertiary-color: #9aa0a6;
    /* Cor terciária (cinza médio) */
    --focus: #00d9ff;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    /* Remove a margem padrão do body */
    background: var(--bg-color);
    /* Define a cor de fundo usando uma variável */
    color: var(--secondary-color);
    /* Define a cor do texto padrão usando uma variável */
    font-family: "Quicksand", sans-serif;
    /* Define a família da fonte */
}